@model String

@{
    ViewBag.Title = Model;
    ViewBag.RequireMain = "viewer";
}

<h2>@Model</h2>

<canvas id="modelcanvas" style="width:1000px;height:600px;"></canvas>
<script type="text/javascript">
    var ModelID = '@Model';
    var XbimPath = '@Url.Content("~/")';
</script>

